attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
click==8.0.4
colorama==0.4.3
cryptography==2.8
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
Flask==2.0.3
future==0.18.2
gunicorn==20.1.0
httplib2==0.14.0
idna==2.8
importlib-metadata==1.5.0
itsdangerous==2.1.1
Jinja2==3.0.3
jsonschema==3.2.0
keyring==18.0.1
more-itertools==4.2.0
numpy==1.22.3
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
pexpect==4.6.0
Pillow==7.0.0
protobuf==3.6.1
PyJWT==1.7.1
pyparsing==3.0.7
pyrsistent==0.15.5
python-dateutil==2.8.2
pytz==2022.1
PyYAML==5.3.1
requests==2.22.0
six==1.14.0
urllib3==1.25.8
Werkzeug==2.0.3
zipp==1.0.0
